:root {
    --dark-brown: #894e1d;
    --light-brown: #9b775d;
    --brown-gray: #e1d2b8;
    --gray: rgb(237, 232, 230);
}

@font-face {
    font-family: 'SundayBloom';
    src: url('./font/SundayBloom.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--gray);
    align-items: center;
}

body > * {
    width: 60%;
}

#content {
    background-color: var(--brown-gray);
    padding: 20px 30px;
    height: 80%;
    border-radius: 0 20px 20px 20px;
    border: 5px solid var(--dark-brown);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    justify-content: space-between;
    align-items: end;
    display: flex;
    margin-left: -70px;
}

#name {
    margin-bottom: 10px;
}

#homeImg {
    height: fit-content;
    width: 60%;
    border-radius: 20px;
    border: 2px solid var(--gray);
}

nav {
    display: flex;
}

button {
    height: 50px;
    width: 150px;
    font-size: larger;
    border-radius: 10px 10px 0 0;
    background-color: var(--gray);
    color: var(--dark-brown);
    border: 5px solid var(--dark-brown);
    border-bottom: 0;
    cursor: pointer;
}

.active {
    background-color: var(--brown-gray);
}

h1 {
    font-size: 50px;
    text-align: center;
    color: var(--dark-brown);
    font-family: 'SundayBloom', sans-serif;
}

h3 {
    font-size: 24px;
    text-align: center;
    color: var(--light-brown);
    margin-top: -20px;
    font-family: 'SundayBloom', sans-serif;
}